.mat-button-toggle-checked {
    color: aliceblue !important;
}

::ng-deep mat-pseudo-checkbox.mat-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color:aliceblue !important;
}

.border-none {
  border: none;
}

.button-toggle {
  margin: 1rem 1rem 1rem 1rem;
  height: 3rem;
  width: 12rem;
  font-size: large;
}