
<div class="flex justify-center blue-to-black-gradient min-w-96 max-w-96">

    <form [formGroup]="breakageCommentForm" (ngSubmit)="clickButton()" class="min-w-80 max-w-80">

        <div class="mb-8 flex justify-normal pt-4">
          <button 
            type="button"
            class="black-to-blue-gradient text-montserrat button-size btn mouse-enter" 
            (click)="closeDialog()"
            >Закрыть
          </button>
        </div>

        <mat-form-field class="w-full mb-4">
            <mat-label class="text-gray-200">Текст комментария</mat-label>
          <textarea matInput 
                    formControlName="breakageCommentText"
                  >
            @if (breakageCommentText.touched && breakageCommentText.invalid) {
                      <div class="alert">
                        @if (breakageCommentText.errors?.required) {
                          <p>Вам необходимо ввести текст комментария заявки !!!</p>
                        }
                        @if (breakageCommentText.errors?.minlength) {
                          <p class="text-center">Длина текста комментария заявки должна быть</p>
                          <p class="text-center">не менее 1 символа !!!</p>
                        }
                      </div>
                    }
          </textarea>
        </mat-form-field>

        <div class="mb-4 min-h-12 max-w-80"
            [ngClass]="apiResponse.status === 0 ? 'hide' : ''" 
            >
            @if (apiResponse.status === 201 || apiResponse.status === 200) {
              <p class="text-center successfully"> {{ apiResponse.message }} </p> 
            } @else {
              <p class="text-center alert"> {{ apiResponse.message }} </p> 
            }
        </div>

        <div class="mb-4 flex justify-between">
          <button type="button"
                  class="black-to-blue-gradient text-montserrat button-size btn mouse-enter"
                  (click)="clearForm()">
                  Очистить
          </button>
          <button type="submit" 
                  class="black-to-blue-gradient text-montserrat button-size btn mouse-enter"
                  [ngClass]="breakageCommentForm.invalid ? 'btn-not-active' : ''" 
                  [disabled]="breakageCommentForm.invalid">
                  {{ buttonName }}
          </button>
        </div>

    </form>

</div>
