<div appUserProfile #userProfile="userProfile">
    <div class="pl-8 pt-2">
        <div class="button-size btn mouse-enter text-montserrat black-to-blue-gradient">
            <button (click)="backClicked()">Назад</button>
        </div>
    </div>
    <div class="flex flex-col items-center text-montserrat">

        <div [ngClass]="getBreakageError.status < 400 ? 'hide' : 'pb-4' ">
            <p class="text-center alert"> {{ getBreakageError.message }} </p> 
        </div>

        <div class="flex justify-center blue-to-black-gradient w-9/12 h-12 overflow-hidden rounded text-xl font-semibold">
            <p class="m-auto whitespace-nowrap">{{ currentBreakage.breakageTopic }}</p>
        </div>

        <div class="flex justify-around w-9/12 h-12 mt-4">

            <div class="flex justify-center items-center w-4/12 h-16">
                @if (userProfile.getUserProfile().isAdmin()) {
                    <p class="text-xl font-medium mr-3">Приоритет:</p>

                    <form>
                        <mat-form-field>
                            <mat-select [(ngModel)]="priority" name="priority">
                                @for (priority of priorities; track priority) {
                                    <mat-option [value]="priority.value" 
                                                (click)="setPriority(priority.value)"
                                                >{{ priority.viewValue }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </form>
                }  
            </div>

            <div class="flex justify-normal items-center w-4/12 h-16">
                @if (!userProfile.getUserProfile().isEmployee()) {
                    <p class="text-xl font-medium mr-3">Статус:</p>

                    <form>
                        <mat-form-field>
                            <mat-select [(ngModel)]="status" name="status">
                                @for (status of statuses; track status) {
                                    <mat-option [value]="status.value" 
                                                (click)="setStatus(status.value)"
                                                >{{ status.viewValue }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </form>
                } @else {
                    <p class="text-xl font-medium mr-3">Статус:</p>

                    <form>
                        <mat-form-field>
                            <mat-select [(ngModel)]="status" name="status">
                                @for (status of employeeStatuses; track status) {
                                    <mat-option [value]="status.value" 
                                                (click)="setStatus(status.value)"
                                                >{{ status.viewValue }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </form>
                } 
            </div>
            
        </div>

        <div class="flex justify-between w-9/12 h-80 mt-4">

            <div class="blue-to-black-gradient h-80 w-1/2">
                <textarea class="blue-to-black-gradient resize-none h-80 w-full px-4 pt-2 text-lg"
                >{{ currentBreakage.breakageText }}</textarea>
            </div>

            <div class="h-80 w-1/2">
                <div class="flex flex-col justify-center">
                    <div class="flex justify-between border-b border-current mt-5 mb-4">
                        <p class="text-xl font-medium ml-5">ID:</p>
                        <p>{{ currentBreakage.id }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Отдел:</p>
                        <p>{{ currentBreakage.departmentName }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Помещение:</p>
                        <p>{{ currentBreakage.room }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Создана:</p>
                        <p>{{ currentBreakage.createdBy }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Создано:</p>
                        <p>{{ currentBreakage.createdDate | date: dateFormat }}</p>
                    </div>
                    @if (!userProfile.getUserProfile().isEmployee()) {
                        <div class="flex justify-between border-b border-current mb-4">
                            <p class="text-xl font-medium ml-5">Обновлена:</p>
                            <p>{{ currentBreakage.lastUpdatedBy }}</p>
                        </div>
                        <div class="flex justify-between border-b border-current">
                            <p class="text-xl font-medium ml-5">Обновлено:</p>
                            <p>{{ currentBreakage.lastUpdatedDate | date: dateFormat }}</p>
                        </div>
                    }
                </div>
                
            </div>

        </div>

        <!-- <div class="w-1/3 h-56 black-to-blue-gradient mt-20 flex justify-center items-center flex-col">
            <p class="alert text-2xl">Данная страница не существует.</p>
            <p class="alert text-2xl mt-3">Вернитесь назад !!!</p>
        </div> -->
    </div>
</div>


