<div  appUserProfile #userProfile="userProfile">
    <div class="pl-8 pt-2">
        <div class="button-size btn mouse-enter text-montserrat black-to-blue-gradient">
            <button (click)="backClicked()">Назад</button>
        </div>
    </div>
    <div class="flex flex-col items-center text-montserrat">

        <div [ngClass]="getBreakageError.status < 400 ? 'hide' : 'pb-4' ">
            <p class="text-center alert"> {{ getBreakageError.message }} </p> 
        </div>

        <div class="flex justify-center blue-to-black-gradient w-9/12 h-12 overflow-hidden rounded text-xl font-semibold">
            <!-- <p class="m-auto align-middle whitespace-nowrap">Не включается компьютер - Rabbit812 !</p> -->
            <p class="m-auto whitespace-nowrap">{{ currentBreakage.breakageTopic }}</p>
        </div>

        <div class="flex justify-around w-9/12 h-12 mt-4">

            <!-- <div class="flex justify-around w-4/12 blue-to-black-gradient">
                <div class="flex justify-center items-center">
                    <p>Приоритет:</p>
                </div>
                <div class="flex justify-center items-center">
                    <p>qqqqqqqq</p>
                </div>
            </div> -->

            <div class="flex justify-between items-center w-4/12 h-16">
                @if (userProfile.getUserProfile().isAdmin()) {
                    <p class="text-xl font-medium ml-3">Приоритет:</p>

                    <form>
                        <mat-form-field>
                            <mat-select [(ngModel)]="priority" name="priority">
                                @for (priority of priorities; track priority) {
                                    <mat-option [value]="priority.value" 
                                                (click)="setPriority(priority.value)"
                                                >{{ priority.viewValue }}
                                    </mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </form>
                }  
            </div>

            <div class="flex justify-center w-4/12 blue-to-black-gradient">
                <div class="flex justify-evenly items-center">
                    <p>Статус:</p>
                    <p>qqqqqqqq</p>
                </div>
            </div>
            

        </div>

        <!-- <div class="w-1/3 h-56 black-to-blue-gradient mt-20 flex justify-center items-center flex-col">
            <p class="alert text-2xl">Данная страница не существует.</p>
            <p class="alert text-2xl mt-3">Вернитесь назад !!!</p>
        </div> -->
    </div>
</div>


