<div appUserProfile #userProfile="userProfile">
    <div class="pl-8 pt-2 flex justify-between">
        <div class="button-size btn mouse-enter text-montserrat black-to-blue-gradient">
            <button (click)="backClicked()">Назад</button>
        </div>
        <div class="w-full text-montserrat text-xl font-semibold">
            <div [ngClass]="apiResponse.status < 400 ? 'hide' : '' ">
                @if (apiResponse.status === 201 || apiResponse.status === 200) {
                    <p class="text-center successfully"> {{ apiResponse.message }} </p> 
                } @else {
                    <p class="text-center alert"> {{ apiResponse.message }} </p> 
                }
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center text-montserrat">

        <div class="flex justify-center blue-to-black-gradient w-9/12 h-12 overflow-hidden rounded text-xl font-semibold">
            <p class="m-auto whitespace-nowrap">{{ currentBreakage.breakageTopic }}</p>
        </div>

        <div class="flex justify-around w-9/12 h-12 mt-4">

            <div class="flex justify-center items-center w-4/12 h-16">
                @if (!userProfile.getUserProfile().isEmployee()) {
                    <p class="text-xl font-medium mr-3">Приоритет:</p>
                    @if ((userProfile.getUserProfile().isAdmin() && status === 'SOLVED') || 
                         (userProfile.getUserProfile().isAdmin() && status === 'CANCELLED')) {
                        <p class="text-xl font-medium mr-3"><mat-icon class="mat-icon-priority"
                            [ngClass]="{
                            'colorRed': priority === 'URGENTLY', 'colorGold': priority === 'HIGH', 
                            'colorLawngreen': priority === 'MEDIUM', 'colorAqua': priority === 'LOW'
                            }"
                        >turned_in</mat-icon>{{ priorityMap.get(priority) }}</p>  
                    } @else {
                        <form>
                            <mat-form-field>
                                <mat-select [(ngModel)]="priority" name="priority">
                                    @for (priority of priorities; track priority) {
                                        <mat-option [value]="priority.value" 
                                                    (click)="setPriority(priority.value)"
                                                    >{{ priority.viewValue }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </form>
                    }
                }  
            </div>

            <div class="flex justify-normal items-center w-4/12 h-16">               
                <p class="text-xl font-medium mr-3">Статус:</p>
                @if (status === 'SOLVED' || status === 'CANCELLED') {
                    <p class="text-xl font-medium mr-3"
                        [ngClass]="{
                        'colorLawngreen': status === 'SOLVED', 'colorGreen': status === 'CANCELLED'
                        }"
                    >{{ statusMap.get(status) }}</p>
                } @else {
                    @if (!userProfile.getUserProfile().isEmployee()) {
                        <form>
                            <mat-form-field>
                                <mat-select [(ngModel)]="status" name="status">
                                    @for (status of statuses; track status) {
                                        <mat-option [value]="status.value" 
                                                    (click)="setStatus(status.value)"
                                                    >{{ status.viewValue }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </form>
                    } @else {
                        <form>
                            <mat-form-field>
                                <mat-select [(ngModel)]="status" name="status">
                                    @for (status of employeeStatuses; track status) {
                                        <mat-option [value]="status.value" 
                                                    (click)="setStatus(status.value)"
                                                    >{{ status.viewValue }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </form>
                    }
                }
                 
            </div>
            
        </div>

        <div class="flex justify-between w-9/12 h-80 mt-4">

            <div class="blue-to-black-gradient h-80 w-1/2">
                <textarea class="blue-to-black-gradient resize-none h-80 w-full px-4 pt-2 text-lg"
                >{{ currentBreakage.breakageText }}</textarea>
            </div>

            <div class="h-80 w-1/2">
                <div class="flex flex-col justify-center">
                    <div class="flex justify-between border-b border-current mt-5 mb-4">
                        <p class="text-xl font-medium ml-5">ID:</p>
                        <p>{{ currentBreakage.id }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Отдел:</p>
                        <p>{{ currentBreakage.departmentName }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Помещение:</p>
                        <p>{{ currentBreakage.room }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Создана:</p>
                        <p>{{ currentBreakage.createdBy }}</p>
                    </div>
                    <div class="flex justify-between border-b border-current mb-4">
                        <p class="text-xl font-medium ml-5">Создано:</p>
                        <p>{{ currentBreakage.createdDate | date: dateFormat }}</p>
                    </div>
                    @if (!userProfile.getUserProfile().isEmployee()) {
                        <div class="flex justify-between border-b border-current mb-4">
                            <p class="text-xl font-medium ml-5">Обновлена:</p>
                            <p>{{ currentBreakage.lastUpdatedBy }}</p>
                        </div>
                        <div class="flex justify-between border-b border-current">
                            <p class="text-xl font-medium ml-5">Обновлено:</p>
                            <p>{{ currentBreakage.lastUpdatedDate | date: dateFormat }}</p>
                        </div>
                    }
                </div>
                
            </div>

        </div>

        <!-- IN WRITE PROGRESS -->
        @if (!userProfile.getUserProfile().isEmployee()) {
            <div class="flex justify-around w-9/12 h-12 mt-4">

                <div id="111" class="flex justify-center items-center w-4/12 h-16">
                    <p class="text-xl font-medium mr-3">Исполнитель:</p>

                    @if (userProfile.getUserProfile().isAdmin()) {
                    
                        @if (status === 'SOLVED' || status === 'CANCELLED') {
                            <p class="text-xl font-medium mr-3">{{ currentBreakage.breakageExecutor }}</p>
                            <!-- <p class="text-xl font-medium mr-3"><mat-icon class="mat-icon-priority"
                                [ngClass]="{
                                'colorRed': priority === 'URGENTLY', 'colorGold': priority === 'HIGH', 
                                'colorLawngreen': priority === 'MEDIUM', 'colorAqua': priority === 'LOW'
                                }"
                            >turned_in</mat-icon>{{ priorityMap.get(priority) }}</p>   -->
                        } @else {
                            <form>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="breakageExecutor" name="breakageExecutor" (click)="clickExecutor()">
                                        @for (executor of executors; track executor) {
                                            <mat-option [value]="executor.username" 
                                                        (click)="setExecutor(executor.id, executor.username)"
                                                        >{{ executor.username }}
                                            </mat-option>
                                        }
                                    </mat-select>
                                </mat-form-field>
                            </form>
                        }

                    } @else {
                        <p class="text-xl font-medium mr-3">{{ currentBreakage.breakageExecutor }}</p>
                    }
                </div>

                <div class="flex justify-center items-center w-4/12 h-16">

                </div>

                <div class="flex justify-normal items-center w-4/12 h-16">               
                    <p class="text-xl font-medium mr-3">Назначивший:</p>
                    <p class="text-xl font-medium mr-3">{{ currentBreakage.executorAppointedBy }}</p>
                <!-- @if (status === 'SOLVED' || status === 'CANCELLED') {
                    <p class="text-xl font-medium mr-3"
                        [ngClass]="{
                        'colorLawngreen': status === 'SOLVED', 'colorGreen': status === 'CANCELLED'
                        }"
                    >{{ statusMap.get(status) }}</p>
                } @else {
                    @if (!userProfile.getUserProfile().isEmployee()) {
                        <form>
                            <mat-form-field>
                                <mat-select [(ngModel)]="status" name="status">
                                    @for (status of statuses; track status) {
                                        <mat-option [value]="status.value" 
                                                    (click)="setStatus(status.value)"
                                                    >{{ status.viewValue }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </form>
                    } @else {
                        <form>
                            <mat-form-field>
                                <mat-select [(ngModel)]="status" name="status">
                                    @for (status of employeeStatuses; track status) {
                                        <mat-option [value]="status.value" 
                                                    (click)="setStatus(status.value)"
                                                    >{{ status.viewValue }}
                                        </mat-option>
                                    }
                                </mat-select>
                            </mat-form-field>
                        </form>
                    }
                } -->
                 
                </div>
            
            </div>
        }
        <!-- IN WRITE PROGRESS -->

        <!-- <div class="w-1/3 h-56 black-to-blue-gradient mt-20 flex justify-center items-center flex-col">
            <p class="alert text-2xl">Данная страница не существует.</p>
            <p class="alert text-2xl mt-3">Вернитесь назад !!!</p>
        </div> -->
    </div>
</div>


