.mat-icon-priority {
    transform: scale(0.8);
}

.colorRed {
    color: red;
}

.colorLawngreen {
    color: lawngreen;
}

.colorAqua {
    color: aqua;
}

.colorFuchsia {
    color: fuchsia; 
}

.colorGold {
    color:gold;
}

.colorGreen {
    color: green;
}