<div class="flex justify-center">
<!-- <div class="flex justify-center"> -->

  <div class="max-w-96">

    @if (isCreateAdminForm) {
      <div class="flex justify-center flex-col pt-4 blue-to-black-gradient rounded-md p-2">
        <div class="flex justify-center text-center">
          <p class="text-montserrat font-semibold text-xl">Создать пользователя - admin</p>
        </div>
        @if (createAdminMessage != '') {
          <div class="flex justify-center text-center">
            <p [ngClass]="createDefaultAdminError ? 'alert' : 'successfully'">
                {{ createAdminMessage }} </p>
          </div>
        }
        <div class="flex justify-around pt-4">
          <button class="black-to-blue-gradient text-montserrat button-size btn mouse-enter"
                  (click)="closeCreateAdminForm()">
            Закрыть
          </button>
          <button class="black-to-blue-gradient text-montserrat button-size btn mouse-enter"
                  (click)="createDefaultAdmin()">
            Создать
          </button>
        </div>
      </div>
    }

    <mat-card class="max-w-sm blue-to-black-gradient mt-28 space-y-12 opacity-90" 
              appearance="outlined" 
              (click)="openCreateAdminForm($event)">
        <mat-card-header>
          <mat-card-title class="text-montserrat !font-bold !text-2xl !tracking-wider">Вход</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <form #f = 'ngForm' (ngSubmit)="onSubmit(f)" class="example-form mt-2"> -->
              <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="max-w-lg min-w-36 w-full mt-2">
                <mat-form-field class="w-full">
                  <mat-label>Логин</mat-label>
                  <input matInput 
                         formControlName="username"
                         >
                         @if (username.touched && username.invalid) {
                          <div class="alert">
                            @if (username.errors?.required) {
                              <p>Вам необходимо ввести логин !!!</p>
                            }
                            @if (username.errors?.minlength) {
                              <p class="text-center">Длина логина должна быть</p>
                              <p class="text-center">не менее 4 символов !!!</p>
                            }
                            @if (username.errors?.maxlength) {
                              <p class="text-center">Длина логина должна быть</p>
                              <p class="text-center">не более 64 символов !!!</p>
                            }
                          </div>
                         }
                </mat-form-field>
              
                <mat-form-field class="w-full mt-2">
                    <mat-label>Пароль</mat-label>
                    <input matInput 
                           type="password" 
                           formControlName="password"
                           >
                           @if (password.touched && password.invalid) {
                          <div class="alert">
                            @if (password.errors?.required) {
                              <p>Вам необходимо ввести пароль !!!</p>
                            }
                            @if (password.errors?.minlength) {
                              <p class="text-center">Длина пароля должна быть</p>
                              <p class="text-center">не менее 4 символов !!!</p>
                            }
                            @if (password.errors?.maxlength) {
                              <p class="text-center">Длина пароля должна быть</p>
                              <p class="text-center">не более 64 символов !!!</p>
                            }
                          </div>
                         }
                    
                    <!-- <button
                    mat-icon-button
                    matSuffix
                    (click)="clickEvent($event)"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide()"
                  >
                    <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button> -->
  
                  </mat-form-field>

                  <div class="alert mb-4"
                  [ngClass]="authError == null ? 'hide' : ''" 
                  >
                    <p class="text-center"> {{ authError }} </p> 
                  </div>
  
                  <!-- <mat-button-toggle value="Submit" type="submit" class="black-to-blue-gradient text-michroma-aquamarine button-toggle mt-2" [disabled]="f.invalid"> -->
                    <!--mat-raised-button  [disabled]="authForm.invalid" -->
                <!-- <mat-button-toggle type="submit" class="black-to-blue-gradient text-michroma-aquamarine mt-2" [disabled]="authForm.invalid">
                                                                                                                        
                  Submit</mat-button-toggle> -->
                  <div class="mb-4 flex justify-end">
                    <button type="submit" 
                            class="black-to-blue-gradient text-montserrat button-size btn mouse-enter"
                            [ngClass]="authForm.invalid ? 'btn-not-active' : ''" 
                            [disabled]="authForm.invalid">
                      Войти
                    </button>
                  </div>
                  
              </form>
              
        </mat-card-content>
      </mat-card>
  
  </div>

</div>
  
  <!-- <div class="flex justify-center">
  
      <mat-card class="example-card blue-to-black-gradient mt-40 space-y-12 opacity-90" appearance="outlined">
          <mat-card-header>
            <mat-card-title class="text-michroma-aquamarine">Authentication</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            
                <form [formGroup]="authForm" (ngSubmit)="onSubmit()" class="example-form mt-2">
                  <mat-form-field class="example-full-width">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username" formControlName="username">
                  </mat-form-field>
                
                  <mat-form-field class="example-full-width mt-2">
                      <mat-label>Password</mat-label>
                      <input matInput type="password" placeholder="Password" formControlName="password">
                    
  
                    </mat-form-field>
  
                  <mat-button-toggle mat-raised-button type="submit" class="black-to-blue-gradient text-michroma-aquamarine mt-2" [disabled]="authForm.invalid">
                    Submit</mat-button-toggle>
                </form>
                
                
          </mat-card-content>
        </mat-card>
  
  </div> -->
  


