.button-submit {
    margin: 7px 7px 7px 7px;
    height: 40px;
    width: 100px;
}

.example-card {
    max-width: 400px;
    /* margin-top: 40px; */
  }

.example-form {             /* CHECK !!! */
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

/* label {
    color: red !important;
} */

/* .mdc-text-field--filled:not(.mdc-text-field--disabled).mdc-text-field--invalid .mdc-floating-label::after    {
    color: red !important;
} */

/* .text-b {
    font-weight: 700 !important;
    font-size: 1.6rem !important;
    line-height: 1 !important;
} */