<div class="flex justify-center blue-to-black-gradient w-96 h-80">

    <div class="min-w-80 max-w-80">
        <div class="mb-8 flex justify-normal pt-4">
            <button 
                type="button"
                class="black-to-blue-gradient text-montserrat button-size btn mouse-enter" 
                (click)="closeDialog()"
                >Закрыть
            </button>
        </div>
        <div class="flex justify-center">
            <p>{{ data.departmentName }}</p>
        </div>
    </div>

</div>

